body {
	background-color: #00D8FF;
	}
	
div.Header_Image {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	}

div.Main_Content {
	margin-left: 30px;
	margin-right: auto;
	}

div.Navbar {
	color: white;
	margin-top: 45px;
	margin-bottom: 45px;
	text-align: center;
	background-color: #4577D4;
	font-family: "Segoe UI Light", "Comic Sans MS", Calibri;
	font-size: 70px;
	}

div.Image_frontpage {
	float: left;
	margin-right: 30px;
	}

h1 {
	color: #FFFFFF;
	font-family: "Segoe UI Light", "Comic Sans MS", Calibri;
	font-size: 80px;
	position: absolute;
	top: 180px;
	left: 0;
	width: 100%;
	}
	
h2 {
	color: #FFFFFF;
	font-family: "Segoe UI Light", "Comic Sans MS", Calibri;
	font-size: 45px;
	}
	
p {
	font-family: "Segoe UI Light", "Comic Sans MS", Calibri;
	font-size: 15px;
	line-height: 170%;
	color:white;
	text-indent: 30px;
	}
	

	
a:link {
	color: #FFFFFF;
	text-decoration: none;
	}
a:visited {
	color: #FFFFFF;
	}
a:hover {
	color: #0DFF9E;
	}
a:active {
	color: #0DFF9E;
	}